@media (max-width: 991px) {
  .hidden_mobile {
    display: none; }

  .desk-hidden {
    display: block;
    margin-bottom: 30px; }

  .beneficios-paquetes li {
    margin-bottom: 15px; }

  .pfs-10-20, .pfs-adeals {
    font-size: 50px; }

  .pfs-adeals {
    font-family: "../fonts/gloriola/gloriolabold"; }

  .all-deals p {
    font-family: "../fonts/gloriola/gloriolamedium"; }

  .all-deals span, .ten-twenty span {
    font-size: 25px; }

  .tab-redes-invert {
    background: #FFC600; }

  .dias-recarga {
    background: #00A9CE; }

  .tab-llamadas {
    background: #43B02A; }

  .dias-recarga, .num-gratis, .rprip, .tab-llamadas, .tab-radio-prip, .tab-redes-invert, .verde_nuevo, .wapp {
    height: auto !important;
    border: none;
    padding: 10px;
    margin: 0; }

  .tab-redes-invert p {
    color: #404042; }

  .dias-recarga p, .num-gratis p, .rprip p, .tab-llamadas p, .tab-radio-prip p, .tab-redes-invert p, .wapp p {
    font-size: 20px;
    font-weight: 400; }

  .cinco-gigante {
    font-size: 30px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 0; }

  .pl-3 {
    border-left: none; }

  .num-gratis {
    float: left;
    width: 100%;
    height: 70px !important; }

  .num-gratis p, .num-gratis span {
    height: auto;
    margin: 0;
    padding: 0; }

  .recarga_m {
    margin-bottom: 30px !important;
    padding-right: 0 !important; } }
.loyalty_mobile {
  display: none; }

.azul_pl-3, .gris_pl-3, .verde_pl-3 {
  border-left: 5px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: '../fonts/gloriola/gloriolamedium', sans-serif;
  padding: 8px 0; }

.lealtad_recarga, .mini_mes {
  background: #333;
  color: #ffc600;
  text-align: center;
  font-size: 20px; }

.mini_mes {
  padding: 8px 0; }

.azul_pl-3 {
  background: #1ba9cc; }

.verde_pl-3 {
  background: #49ad35; }

.gris_pl-3 {
  background: grey; }

.bck_unefon_yellow {
  background: #ffc600; }

.bck_unefon_yellow span.big_number {
  font-family: '../fonts/gloriola/gloriolabold', sans-serif;
  font-size: 30px; }

.bck_unefon_yellow span.mini_number {
  font-family: '../fonts/gloriola/gloriolabold', sans-serif;
  font-size: 22px;
  margin-right: 2px; }

.bck_light_gray {
  background: #E6E6E6; }

.bck_light_gray, .bck_unefon_yellow {
  border-left: 5px solid #fff;
  text-align: center;
  font-size: 20px;
  font-family: '../fonts/gloriola/gloriolamedium', sans-serif;
  padding: 21px 0;
  margin: 5px 0;
  height: 70px; }

.lealtad_benefits, .lealtad_recarga span.big_number, .lealtad_recarga span.mini_number {
  font-family: "../fonts/gloriola/gloriolabold", sans-serif; }

.lealtad_benefits {
  padding: 22px 0;
  font-size: 23px;
  letter-spacing: 1px; }

.lealtad_recarga {
  padding: 38px 0;
  vertical-align: middle;
  border-top: 5px solid #fff; }

.lealtad_recarga p {
  color: #ffc600; }

.lealtad_recarga span.big_number {
  font-size: 30px; }

.lealtad_recarga span.mini_number {
  font-size: 22px;
  margin-right: 2px; }

@media all and (max-width: 1200px) {
  .azul_pl-3, .gris_pl-3, .verde_pl-3 {
    border-left: 3px solid #fff;
    font-size: 18px; }

  .bck_unefon_yellow span.big_number {
    font-family: '../fonts/gloriola/gloriolabold', sans-serif;
    font-size: 27px; }

  .bck_unefon_yellow span.mini_number {
    font-family: '../fonts/gloriola/gloriomedium', sans-serif;
    font-size: 22px;
    margin-right: 2px; }

  .lealtad_recarga {
    border-top: 3px solid #fff;
    padding: 36px 0; }

  .bck_light_gray, .bck_unefon_yellow {
    border-left: 3px solid #fff;
    margin: 3px 0; }

  .lealtad_benefits {
    font-family: '../fonts/gloriola/gloriolabold', sans-serif;
    font-size: 20px; } }
@media all and (max-width: 990px) {
  .loyalty_desktop {
    display: none; }

  .loyalty_mobile {
    display: block; }

  .loyalty_mobile p {
    color: #ffc600; }

  .l_mob_recarga {
    padding: 20px 0 4px; }

  .l_mob_recarga p {
    font-size: 25px; }

  .loyalty_mobile span.big_number {
    font-family: '../fonts/gloriola/gloriolabold', sans-serif;
    font-size: 30px; }

  .loyalty_mobile span.mini_number {
    font-family: '../fonts/gloriola/gloriolabold', sans-serif;
    font-size: 22px;
    margin-right: 2px; }

  .lealtad_benefits {
    font-family: '../fonts/gloriola/gloriolamedium', sans-serif;
    font-size: 20px;
    line-height: 28px; }

  .azul_pl-3, .bck_unefon_yellow, .gris_pl-3, .verde_pl-3 {
    border-left: 0;
    margin: 0; }

  .bck_unefon_yellow {
    height: auto;
    padding: 20px; }

  .gris_pl-3 {
    margin-bottom: 20px; } }